@charset "UTF-8";
/* ========== VARIABLES ========== */
body {
  --theme-text-color: #111321;
  --theme-bg-color: #f4f4f4;
  --theme-switch-light-side: #4b48db;
  --theme-switch-dark-side: #5f6775;
  --theme-tgl-bg: #4b48db;
}

body.dark-theme {
  --theme-text-color: #f4f4f4;
  --theme-bg-color: #111321;
  --theme-switch-light-side: #5f6775;
  --theme-switch-dark-side: #4b48db;
  --theme-tgl-bg: #fff;
}

:root {
  --font-main: "Manrope", sans-serif;
  --font-second: "Poppins", sans-serif;
  --font-weather: "Roboto", sans-serif;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-menu: 750ms cubic-bezier(0.48, 1.75, 0.55, 0.91);
  --brand-main: #4440f6;
  --brand-main-opt: #4b48db;
  --brand-green: #00dd73;
  --brand-grey: #a8a8a8;
  --brand-grey-dark: #2e2e2e;
  --brand-light: #fff;
  --brand-black: #111321;
  --bg-menu: #f8f8f8;
  --button-color: #a2a2a2;
  --icon-stroke-color: #f4f4f4;
  --main-transparent-color: rgba(68, 64, 247, 0.7);
  --read-cover-color: rgba(244, 244, 244, 0.4);
  --footer: #7a7a7a;
}

/* ========== /VARIABLES ========== */
/* ========== BREAKPOINTS ========== */
/* ========== /BREAKPOINTS ========== */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* ========== СКИДАННЯ СТИЛІВ ==========  */
body {
  font-family: var(--font-main);
  color: var(--theme-text-color);
  background-color: var(--theme-bg-color);
  transition: color var(--transition);
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Знімає стилізацію з ul */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Знімає стилізацію з <a> */
a {
  text-decoration: none;
  color: inherit;
}

/* Заборона зміну розміру в textarea */
textarea {
  resize: none;
}

/* ========== /СКИДАННЯ СТИЛІВ ========== */
/* === HIDDEN === */
.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* === /HIDDEN === */
/* === CONTAINER === */
.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
/* === /CONTAINER === */
/* === LOGO === */
.logo {
  z-index: 16;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  letter-spacing: normal;
}
@media screen and (min-width: 768px) {
  .logo {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.375;
    letter-spacing: normal;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.3571428571;
    letter-spacing: normal;
  }
}

.theme {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .theme {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 768px) {
  .theme {
    margin-left: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .theme {
    margin-left: 147px;
  }
}

.theme__btn {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 20px;
}
.theme__btn::before, .theme__btn::after {
  content: "Light";
  display: none;
  margin-right: 12px;
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 18;
  line-height: 1.3333333333;
  letter-spacing: normal;
  color: var(--theme-switch-light-side);
}
@media screen and (min-width: 1280px) {
  .theme__btn::before, .theme__btn::after {
    display: flex;
  }
}
.theme__btn::after {
  content: "Dark";
  margin-right: 0;
  color: var(--theme-switch-dark-side);
}

.theme__sun-icon,
.theme__moon-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: transparent;
}
@media screen and (min-width: 1280px) {
  .theme__sun-icon,
  .theme__moon-icon {
    display: none;
  }
}

.theme__sun-icon {
  stroke: var(--theme-switch-light-side);
}

.theme__moon-icon {
  stroke: var(--theme-switch-dark-side);
}

.switch-input {
  height: 0;
  width: 0;
  visibility: hidden;
}
.switch-input:checked + label {
  background: var(--brand-main-opt);
}
.switch-input:checked + .switch-lbl:after {
  left: calc(100% - 2px);
  translate: -100% 0%;
  width: 13px;
  height: 13px;
}

.switch-lbl {
  cursor: pointer;
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  margin-right: 12px;
  background-color: var(--brand-light);
  border: 1.5px solid var(--theme-tgl-bg);
  border-radius: 20px;
}
.switch-lbl:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.5px;
  width: 14px;
  height: 14px;
  background-color: var(--theme-tgl-bg);
  border-radius: 20px;
  transition: 250ms;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 469px;
  padding: 32px 36px;
  background: var(--brand-main);
  mix-blend-mode: normal;
  border-radius: 4px;
  overflow: hidden;
  font-family: var(--font-weather);
  color: var(--brand-light);
}
@media screen and (min-width: 768px) {
  .weather {
    height: 675px;
  }
}
@media screen and (min-width: 768px) {
  .weather {
    padding: 40px 32px 60px;
  }
}
@media screen and (min-width: 1280px) {
  .weather {
    padding: 50px 53px;
  }
}

.weather__forecast-day {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather__temp-wrapper {
  display: flex;
  padding-right: 1px;
  height: 100%;
  align-items: center;
  border-right: 1px solid var(--brand-light);
}
@media screen and (min-width: 768px) {
  .weather__temp-wrapper {
    padding-top: 5px;
  }
}

.weather__temp {
  display: flex;
  font-weight: 400;
  font-size: 55px;
  line-height: 1.1636363636;
  letter-spacing: normal;
}
@media screen and (min-width: 768px) {
  .weather__temp {
    padding-right: 8px;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.171875;
    letter-spacing: normal;
  }
}

.weather__forecast-day-wrapper {
  margin-left: 11px;
}
@media screen and (min-width: 768px) {
  .weather__forecast-day-wrapper {
    margin-left: 8px;
    padding-bottom: 2px;
  }
}

.weather__sky {
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: normal;
}
@media screen and (min-width: 768px) {
  .weather__sky {
    padding-bottom: 0;
    padding-left: 7px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.1666666667;
    letter-spacing: normal;
  }
}

.weather__img {
  width: 128px;
  height: 128px;
}
@media screen and (min-width: 768px) {
  .weather__img {
    width: 165px;
    height: 165px;
  }
}

.weather__place,
.weather__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  width: 121px;
  height: 34px;
  background: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: normal;
}
@media screen and (min-width: 768px) {
  .weather__place,
  .weather__link {
    padding-top: 8px;
    padding-bottom: 7px;
    padding-left: 7px;
    width: 177px;
    height: 42px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: normal;
  }
}

.weather__link {
  justify-content: center;
  width: 151px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: normal;
}
@media screen and (min-width: 768px) {
  .weather__link {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}

.weather__place-icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .weather__place-icon {
    width: 27px;
    height: 27px;
    margin-right: 8px;
  }
}

.weather__img {
  width: 128px;
  height: 128px;
}
@media screen and (min-width: 768px) {
  .weather__img {
    width: 165px;
    height: 165px;
  }
}

.weather__bottom-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 18px;
}
@media screen and (min-width: 768px) {
  .weather__bottom-wrapper {
    gap: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .weather__bottom-wrapper {
    gap: 38px;
  }
}

.weather__wrapper-date {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: normal;
}
@media screen and (min-width: 768px) {
  .weather__wrapper-date {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.1666666667;
    letter-spacing: normal;
  }
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

.container-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
}

.search-form {
  display: none;
}
@media screen and (min-width: 768px) {
  .search-form {
    display: block;
    margin-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .search-form {
    margin-left: 147px;
  }
}

.input-box {
  position: relative;
}

.input-submit {
  height: 31px;
  border: 1px solid var(--theme-text-color);
  border-radius: 20px;
  background-color: transparent;
  color: var(--theme-text-color);
  padding-left: 48;
}
.input-submit::-moz-placeholder {
  height: 18px;
  width: 59px;
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 14;
  line-height: 1.7142857143;
  letter-spacing: 0.02em;
  color: var(--theme-text-color);
  opacity: 0.4;
  border-right: 1px solid var(--theme-text-color);
}
.input-submit::placeholder {
  height: 18px;
  width: 59px;
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 14;
  line-height: 1.7142857143;
  letter-spacing: 0.02em;
  color: var(--theme-text-color);
  opacity: 0.4;
  border-right: 1px solid var(--theme-text-color);
}
@media screen and (min-width: 768px) {
  .input-submit {
    width: 214px;
  }
}
@media screen and (min-width: 1280px) {
  .input-submit {
    width: 288px;
  }
  .input-submit::-moz-placeholder {
    margin-right: 180;
  }
  .input-submit::placeholder {
    margin-right: 180;
  }
}

.input-submit__icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--theme-text-color);
}

.search-mobile-open {
  position: absolute;
  top: 0;
  right: 54px;
  top: 50%;
  transform: translate(0%, -50%);
  display: flex;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .search-mobile-open {
    display: none;
  }
}

.search-mobile-open__icon {
  width: 20px;
  height: 20px;
  fill: var(--theme-text-color);
}

.search-form--mobile {
  display: block;
  margin-right: 38px;
}
@media screen and (min-width: 768px) {
  .search-form--mobile {
    display: none;
  }
}

.input-box--mobile {
  transform: scale(0);
  transform-origin: center right;
  transition: transform var(--transition);
}

.input-box--mobile.is-open {
  transform: scale(1);
}

.input-submit--mobile {
  width: 173px;
}
.input-submit--mobile::-moz-placeholder {
  font-weight: 400;
  font-size: 12;
  line-height: 1.75;
  letter-spacing: 0.02em;
  height: 15px;
  width: 48px;
}
.input-submit--mobile::placeholder {
  font-weight: 400;
  font-size: 12;
  line-height: 1.75;
  letter-spacing: 0.02em;
  height: 15px;
  width: 48px;
}
@media screen and (min-width: 768px) {
  .input-submit--mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .nav-box {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: var(--theme-bg-color);
    width: 100vw;
    height: 100vh;
    transform: translate(0, 100%);
    transition: transform var(--transition);
  }
}

@media screen and (max-width: 767px) {
  .nav-box.is-open {
    transform: translate(0, 0);
  }
}

.container-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .container-menu {
    flex-direction: column;
    align-items: flex-start;
    max-width: 320px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 124px;
    padding-bottom: 18px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .menu {
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    width: 238px;
  }
}
@media screen and (min-width: 1280px) {
  .menu {
    width: 305px;
  }
}

@media screen and (max-width: 767px) {
  .menu__item {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .menu__item:hover, .menu__item:focus {
    background-color: var(--brand-main);
    color: var(--icon-stroke-color);
  }
  .menu__item:hover .menu__icon-box, .menu__item:focus .menu__icon-box {
    border-color: var(--icon-stroke-color);
  }
}
@media screen and (min-width: 768px) {
  .menu__item:hover, .menu__item:focus {
    color: var(--brand-main);
  }
  .menu__item .menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu__item-wrapper {
  display: flex;
  align-items: center;
}

.menu__icon-box-scroll {
  display: none;
}
.menu__icon-box-scroll .menu__icon {
  width: 12px;
  height: 12px;
  transform: rotate(-90deg);
  fill: var(--brand-light);
}

@media screen and (max-width: 767px) {
  .menu__item.on-mouse-enter .menu__icon-box-scroll {
    display: block;
  }
}

.menu__link {
  margin-left: 14px;
  font-weight: 500;
  font-size: 16;
  line-height: 1.375;
  letter-spacing: normal;
}
@media screen and (min-width: 768px) {
  .menu__link {
    position: relative;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 16;
    line-height: 1.375;
    letter-spacing: normal;
    color: var(--theme-text-color);
    transition: color var(--transition);
  }
  .menu__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: var(--brand-main);
    transform: scale(0);
    transition: transform var(--transition);
  }
  .menu__link:hover::after, .menu__link:focus::after {
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .menu__link--current::after {
    transform: scale(1);
  }
}

.menu__icon-box {
  width: 32px;
  height: 32px;
  border: 1px solid var(--brand-main);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-main);
}
@media screen and (min-width: 768px) {
  .menu__icon-box {
    display: none;
  }
}

.menu__icon {
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  fill: var(--brand-main);
  stroke: var(--icon-stroke-color);
}

.btn-mobile {
  z-index: 16;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 4px;
  right: 16px;
  padding: 0;
  border: none;
  stroke: var(--theme-text-color);
  background-color: transparent;
  transition: scale var(--transition);
  scale: 1;
}
.btn-mobile:focus .btn-mobile__icon, .btn-mobile:hover .btn-mobile__icon {
  scale: 1.3;
}
@media screen and (min-width: 768px) {
  .btn-mobile {
    display: none;
  }
}

.btn-mobile__icon {
  width: 24px;
  height: 24px;
}

.btn-mobile .icon-burger {
  scale: 1;
  transform-origin: center center;
  transition: scale var(--transition);
}

.btn-mobile.is-open .icon-burger {
  scale: 0;
}

.btn-mobile .icon-close {
  scale: 0;
}

.btn-mobile.is-open .icon-close {
  scale: 1;
  transform-origin: center center;
  transition: scale var(--transition);
}

.container--categories {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .container--categories {
    padding-top: 28px;
  }
}

@media screen and (min-width: 768px) {
  .select-list {
    margin-left: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .select-list {
    margin-left: 16px;
  }
}

.select-list__btn,
.categories__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform var(--transition);
  width: 112px;
  height: 30px;
  padding: 7px 13px;
  background-color: var(--brand-light);
  border: 1px solid var(--brand-main);
  border-radius: 20px;
  color: var(--main-transparent-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: normal;
}
.select-list__btn:hover, .select-list__btn:focus,
.categories__btn:hover,
.categories__btn:focus {
  background-color: var(--brand-main);
  color: var(--brand-light);
  fill: var(--brand-light);
}
.select-list__btn:hover .select-list__icon, .select-list__btn:focus .select-list__icon,
.categories__btn:hover .select-list__icon,
.categories__btn:focus .select-list__icon {
  transform: rotate(180deg);
}

.select-list__icon {
  transform: rotate(0deg);
  transition: transform var(--transition);
  fill: currentColor;
  margin-left: 10px;
  width: 14px;
  height: 14px;
}

.categories {
  display: none;
}
@media screen and (min-width: 768px) {
  .categories {
    display: flex;
    gap: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .categories {
    gap: 16px;
  }
}

@media screen and (max-width: 1279px) {
  .categories__item:nth-child(n+5) {
    display: none;
  }
}

.categories__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar__title {
  display: none;
}
@media screen and (min-width: 1280px) {
  .calendar__title {
    display: block;
    margin-right: 36px;
  }
}

.select-list__btn--calendar {
  border: 1px solid var(--brand-black);
}

.calendar {
  display: flex;
  align-items: center;
}

.container--gallery {
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .container--gallery {
    padding-top: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .container--gallery {
    padding-top: 60px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    gap: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .card {
    gap: 40px 32px;
  }
}

.card__item {
  width: 288px;
}
@media screen and (min-width: 768px) {
  .card__item {
    flex-basis: calc(100% - 30px)/2;
    width: 353px;
  }
}
@media screen and (min-width: 1280px) {
  .card__item {
    flex-basis: calc(100% - 64px)/3;
    width: 395px;
  }
}

.card__img-box {
  position: relative;
}

.card__img {
  background-image: url("../images/test-image-w395.png");
  background-size: cover;
  background-position: center center;
  height: 395px;
  width: 288px;
}
@media screen and (min-width: 768px) {
  .card__img {
    width: 353px;
  }
}
@media screen and (min-width: 1280px) {
  .card__img {
    width: 395px;
  }
}

.plate {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate--category-name {
  left: 0;
  top: 40px;
  width: 112px;
  height: 24px;
  padding: 4px 8px;
  background: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;
  color: var(--brand-light);
}

.plate__text--category-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.plate--already-read {
  top: 14px;
  right: 14px;
  background-color: transparent;
  color: var(--brand-green);
}

.plate__text--already-read {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.plate__icon--already-read {
  width: 18px;
  height: 18px;
  margin-left: 4px;
  fill: currentColor;
}

.plate--add-to-favorite {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  bottom: 12px;
  right: 8px;
  width: 126px;
  height: 28px;
  padding: 6px 12px;
  background-color: var(--brand-light);
  border-radius: 20px;
  color: var(--brand-main);
}

.plate__text--add-to-favorite {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: normal;
  color: var(--brand-black);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.plate__icon--add-to-favorite {
  width: 16px;
  height: 16px;
}
.plate__icon--add-to-favorite .non-favorite {
  opacity: 1;
  stroke: var(--brand-main);
  fill: transparent;
  transition: opacity var(--transition);
}
.plate__icon--add-to-favorite .in-favorite {
  opacity: 0;
}
.plate__icon--add-to-favorite.is-favorite .non-favorite {
  opacity: 0;
}
.plate__icon--add-to-favorite.is-favorite .in-favorite {
  opacity: 1;
  fill: currentColor;
  transition: opacity var(--transition);
}

.card__info-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
}

.card__title {
  overflow: hidden;
  max-height: 99px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  letter-spacing: -0.01em;
  color: var(--theme-text-color);
}
@media screen and (min-width: 768px) {
  .card__title {
    max-height: 132px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.375;
    letter-spacing: -0.01em;
  }
}

.card__description {
  overflow: hidden;
  max-height: 57px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: normal;
  color: var(--theme-text-color);
}
@media screen and (min-width: 768px) {
  .card__description {
    max-height: 66px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: normal;
  }
}

.card__info-box-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__date,
.card__read-more {
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: normal;
  color: var(--brand-grey);
}
@media screen and (min-width: 768px) {
  .card__date,
  .card__read-more {
    max-height: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: normal;
  }
}

.card__read-more {
  color: var(--brand-main);
}

.container--pagin {
  padding-top: 40px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .container--pagin {
    padding-top: 48px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .container--pagin {
    padding-top: 60px;
    padding-bottom: 150px;
  }
}

.pagin {
  display: flex;
  justify-content: center;
  justify-content: baseline;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .pagin {
    gap: 8px;
  }
}

.pagin-in-moblie {
  display: flex;
  justify-content: baseline;
  gap: 4px;
}

.pagin__btn {
  width: 28px;
  height: 28px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: var(--icon-stroke-color);
  border: 1px solid var(--brand-main);
  border-radius: 2px;
  background-position: 50% 50%;
  color: var(--brand-black);
}
.pagin__btn:hover, .pagin__btn:focus {
  background-color: var(--brand-main);
  fill: var(--icon-stroke-color);
  color: var(--icon-stroke-color);
}
@media screen and (min-width: 768px) {
  .pagin__btn {
    width: 33px;
    height: 30px;
  }
}

.pagin__prew,
.pagin__next {
  display: flex;
  align-items: center;
}

.pagin__btn--prew,
.pagin__btn--next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .pagin__btn--prew,
  .pagin__btn--next {
    width: 82px;
  }
}

.pagin__prew-icon,
.pagin__next-icon {
  width: 13px;
  height: 13px;
  fill: currentColor;
  transform: rotate(90deg);
}

.pagin__next-icon {
  transform: rotate(-90deg);
}

.footer {
  width: 100%;
  height: 120px;
  background-color: #7a7a7a;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 146px;
  }
}/*# sourceMappingURL=index.css.map */