<!-- * Розмітка кнопок категорій новин і календаря -->
<section class="section-categories">
  <div class="container container--categories">
    <!-- & Кнопки інших категорій -->
    <include src="./partials/newsFilter.html"></include>

    <!-- & Розмітка календаря -->
    <div class="calendar">
      <p class="calendar__title">Search date news</p>
      <div class="select-list">
        <button
          type="button"
          class="select-list__btn select-list__btn--calendar"
        >
          Calendar
          <svg class="select-list__icon">
            <use href="./images/icons.svg#scroll-down"></use>
          </svg>
        </button>
      </div>
      <!-- <div class="calendar-container">
        <div class="wrapper">
          <header>
            <p class="current-date"></p>
            <div class="icons">
              <span id="prev" class="material-symbols-rounded">chevron_left</span>
              <span id="next" class="material-symbols-rounded">chevron_right</span>
            </div>
          </header>
          <div class="calendar">
            <ul class="weeks">
              <li>Mo</li>
              <li>Tu</li>
              <li>We</li>
              <li>Th</li>
              <li>Fr</li>
              <li>Sa</li>
              <li>Su</li>
            </ul>
            <ul class="days"></ul>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- */ Розмітка кнопок категорій новин і календаря -->
