<!-- * Розмітка карток Home -->
<section class="section-gallery">
  <div class="container container--gallery">
    <ul class="card">
      <li class="card__item" data-index="0">
        <!-- position: relative -->
        <div class="card__img-box">
          <div class="card__img" style="background-image: url('./images/test-image-w395.png');"></div>
          <!-- <img
          class="card__img"
          src="./images/test-image2-w395.png"
          alt=""
          loading="lazy" /> -->

          <!-- position: absolute -->
          <div class="plate plate--category-name">
            <!-- textContent міняється у JS в залежності від категорії: -->
            <span class="plate__text--category-name">Job searching</span>
          </div>

          <div class="plate plate--already-read">
            <span class="plate__text--already-read">Already read</span>
            <svg class="plate__icon--already-read">
              <use href="./images/icons.svg#already-read"></use>
            </svg>
          </div>

          <!-- Додавання до обраного: -->
          <button class="plate plate--add-to-favorite">
            Add to favorite
            <!-- <span class="plate__text--add-to-favorite">Add to favorite</span> -->
            <svg class="plate__icon--add-to-favorite">
              <use
                class="set-favorite"
                href="./images/icons.svg#heart-border"
              ></use>
              <!-- <use
                class="in-favorite"
                href="./images/icons.svg#heart-fill"
              ></use> -->
            </svg>
          </button>
          <!--/ position: absolute -->
        </div>
        <!--/ position: relative -->

        <div class="card__info-box">
          <h2 class="card__title">
            title What is Lorem Ipsum? What is Lorem Ipsum? What is Lorem Ipsum?
          </h2>
          <p class="card__description">
            description Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum
            passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <div class="card__info-box-wrapper">
            <p class="card__date">date</p>

            <!-- посиланння на новину: -->
            <a href="" class="card__read-more" >Read more</a>
          </div>
        </div>
      </li>

      <li class="card__item" data-index="0">
        <!-- position: relative -->
        <div class="card__img-box">
          <div class="card__img" style="background-image: url('./images/test-image2-w395.png');"></div>
          <!-- <img
          class="card__img"
          src="./images/test-image-w395.png"
          alt=""
          loading="lazy"
        /> -->

          <!-- position: absolute -->
          <div class="plate plate--category-name">
            <!-- textContent міняється у JS в залежності від категорії: -->
            <span class="plate__text--category-name">2 Job searching</span>
          </div>

          <div class="plate plate--already-read">
            <span class="plate__text--already-read">Already read</span>
            <svg class="plate__icon--already-read">
              <use href="./images/icons.svg#already-read"></use>
            </svg>
          </div>

          <!-- Додавання до обраного: -->
          <button class="plate plate--add-to-favorite">
            Add to favorite
            <!-- <span class="plate__text--add-to-favorite"></span> -->
            <svg class="plate__icon--add-to-favorite">
              <use
                class="set-favorite"
                href="./images/icons.svg#heart-border"
              ></use>
              <!-- <use
                class="in-favorite"
                href="./images/icons.svg#heart-fill"
              ></use> -->
            </svg>
          </button>
          <!--/ position: absolute -->
        </div>
        <!--/ position: relative -->

        <div class="card__info-box">
          <h2 class="card__title">
            2 title What is Lorem Ipsum? What is Lorem Ipsum? What is Lorem
            Ipsum?
          </h2>
          <p class="card__description">
            2 description Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum
            passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <div class="card__info-box-wrapper">
            <p class="card__date">date</p>

            <!-- посиланння на новину: -->
            <a href="https://sinoptik.ua/" class="card__read-more">Read more</a>
          </div>
        </div>
      </li>

      <!-- Погода - Третя дитина на початковому екрані -->
      <li class="card__item weather">
        <!-- position: relative -->
      </li>
</section>
<!-- */ Розмітка карток Home -->
