<!-- * Розмітка карток Home -->
<section class="section-home">
  <div class="container">
    <ul class="card">
      <!-- Погода - Третя дитина на початковому екрані -->
      <li class="card__item weather">
        <!-- position: relative -->
        <div class="weather__forecast-day">
          <div class="weather__temp-wrapper">
            <span class="weather__temp">23°</span>
          </div>

          <div class="weather__forecast-day-wrapper">
            <div class="weather__sky">Sunny</div>
            <div class="weather__place">
              <svg class="weather__place-icon">
                <use href="./images/icons.svg#place-weather"></use>
              </svg>
              <span class="weather__place-text">West Jakarta</span>
            </div>
          </div>
        </div>
        <!-- * Іконка погоди -->
        <!-- & Варіант зображення для тегу  div -->
        <!-- <div class="weather__img"></div> -->
        <!-- & Варіант зображення для тегу img -->
        <img src="./images/test-sun-w165.png" alt="sun" class="weather__img" />
        <!-- */ Іконка погоди -->

        <!-- Нижня частина погоди -->
        <div class="weather__bottom-wrapper">
          <div class="weather__wrapper-date">
            <span class="weather__week-day">Mon</span>
            <span class="weather__date-today">21 Jan 2021</span>
          </div>
          <!-- <div class="weather__forecast-week"> -->
          <a href="" class="weather__link">Weather for week</a>
          <!-- </div> -->
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- */ Розмітка карток Home -->
