<div class="backdrop-team is-hidden" data-modal-team>
  <div class="modal-team">
    <button class="modal-btn" data-modal-team-close>
      <svg class="modal-close-icon" width="18" height="18">
        <use href="./images/icons.svg#icon-close-tag-x"></use>
      </svg>
    </button>

    <section class="section__team">
      <strong class="hidden">Our developers team</strong>

      <ul class="team__list">
        <div class="team__top">
          <li class="team__member">
            <img
              src="images/team-photo/maksym-yarhin.jpg"
              alt="team-member"
              loading="lazy"
            />

            <div class="team__block">
              <p class="team__title">Maksym Yarhin</p>
              <p class="team__pos">Team Lead</p>
              <ul class="socials">
                <li class="socials__item">
                  <a
                    class="socials__link"
                    href="https://github.com/Elegantniy"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg
                      class="socials__icon"
                      width="20"
                      height="20"
                      fill="currentColor"
                    >
                      <use href="./images/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item">
                  <a
                    class="socials__link"
                    href="mailto:maxim9083@gmail.com"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg
                      class="socials__icon"
                      width="20"
                      height="20"
                      fill="currentColor"
                    >
                      <use href="./images/icons.svg#icon-email"></use>
                    </svg>
                  </a>
                </li>

                <li class="socials__item">
                  <a
                    class="socials__link"
                    href="https://www.linkedin.com/in/elegantniy/"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg
                      class="socials__icon"
                      width="20"
                      height="20"
                      fill="currentColor"
                    >
                      <use href="./images/icons.svg#icon-linkedin-1"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team__member">
            <img
              src="images/team-photo/maksym-yarhin.jpg"
              alt="team-member"
              loading="lazy"
            />

            <div class="team__block">
              <p class="team__title">Maksym Yarhin</p>
              <p class="team__pos">Scrum Master</p>
              <ul class="socials">
                <li class="socials__item">
                  <a
                    class="socials__link"
                    href="https://github.com/Elegantniy"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg
                      class="socials__icon"
                      width="20"
                      height="20"
                      fill="currentColor"
                    >
                      <use href="./images/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item">
                  <a
                    class="socials__link"
                    href="mailto:maxim9083@gmail.com"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg
                      class="socials__icon"
                      width="20"
                      height="20"
                      fill="currentColor"
                    >
                      <use href="./images/icons.svg#icon-email"></use>
                    </svg>
                  </a>
                </li>

                <li class="socials__item">
                  <a
                    class="socials__link"
                    href="https://www.linkedin.com/in/elegantniy/"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg
                      class="socials__icon"
                      width="20"
                      height="20"
                      fill="currentColor"
                    >
                      <use href="./images/icons.svg#icon-linkedin-1"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </div>
        <li class="team__member">
          <img
            src="images/team-photo/maksym-yarhin.jpg"
            alt="team-member"
            loading="lazy"
          />

          <div class="team__block">
            <p class="team__title">Maksym Yarhin</p>
            <p class="team__pos">Developer</p>
            <ul class="socials">
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://github.com/Elegantniy"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="mailto:maxim9083@gmail.com"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-email"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://www.linkedin.com/in/elegantniy/"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-linkedin-1"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__member">
          <img
            src="images/team-photo/maksym-yarhin.jpg"
            alt="team-member"
            loading="lazy"
          />

          <div class="team__block">
            <p class="team__title">Maksym Yarhin</p>
            <p class="team__pos">Developer</p>
            <ul class="socials">
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://github.com/Elegantniy"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="mailto:maxim9083@gmail.com"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-email"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://www.linkedin.com/in/elegantniy/"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-linkedin-1"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__member">
          <img
            src="images/team-photo/maksym-yarhin.jpg"
            alt="team-member"
            loading="lazy"
          />

          <div class="team__block">
            <p class="team__title">Maksym Yarhin</p>
            <p class="team__pos">Developer</p>
            <ul class="socials">
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://github.com/Elegantniy"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="mailto:maxim9083@gmail.com"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-email"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://www.linkedin.com/in/elegantniy/"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-linkedin-1"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__member">
          <img
            src="images/team-photo/maksym-yarhin.jpg"
            alt="team-member"
            loading="lazy"
          />

          <div class="team__block">
            <p class="team__title">Maksym Yarhin</p>
            <p class="team__pos">Developer</p>
            <ul class="socials">
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://github.com/Elegantniy"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="mailto:maxim9083@gmail.com"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-email"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://www.linkedin.com/in/elegantniy/"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-linkedin-1"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__member">
          <img
            src="images/team-photo/maksym-yarhin.jpg"
            alt="team-member"
            loading="lazy"
          />

          <div class="team__block">
            <p class="team__title">Maksym Yarhin</p>
            <p class="team__pos">Developer</p>
            <ul class="socials">
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://github.com/Elegantniy"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="mailto:maxim9083@gmail.com"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-email"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://www.linkedin.com/in/elegantniy/"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-linkedin-1"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__member">
          <img
            src="images/team-photo/maksym-yarhin.jpg"
            alt="team-member"
            loading="lazy"
          />

          <div class="team__block">
            <p class="team__title">Maksym Yarhin</p>
            <p class="team__pos">Developer</p>
            <ul class="socials">
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://github.com/Elegantniy"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="mailto:maxim9083@gmail.com"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-email"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://www.linkedin.com/in/elegantniy/"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-linkedin-1"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__member">
          <img
            src="images/team-photo/maksym-yarhin.jpg"
            alt="team-member"
            loading="lazy"
          />

          <div class="team__block">
            <p class="team__title">Maksym Yarhin</p>
            <p class="team__pos">Developer</p>
            <ul class="socials">
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://github.com/Elegantniy"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="mailto:maxim9083@gmail.com"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-email"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://www.linkedin.com/in/elegantniy/"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-linkedin-1"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__member">
          <img
            src="images/team-photo/maksym-yarhin.jpg"
            alt="team-member"
            loading="lazy"
          />

          <div class="team__block">
            <p class="team__title">Maksym Yarhin</p>
            <p class="team__pos">Developer</p>
            <ul class="socials">
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://github.com/Elegantniy"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="mailto:maxim9083@gmail.com"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-email"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://www.linkedin.com/in/elegantniy/"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-linkedin-1"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__member">
          <img
            src="images/team-photo/maksym-yarhin.jpg"
            alt="team-member"
            loading="lazy"
          />

          <div class="team__block">
            <p class="team__title">Maksym Yarhin</p>
            <p class="team__pos">Developer</p>
            <ul class="socials">
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://github.com/Elegantniy"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link"
                  href="mailto:maxim9083@gmail.com"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-email"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a
                  class="socials__link"
                  href="https://www.linkedin.com/in/elegantniy/"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                >
                  <svg
                    class="socials__icon"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <use href="./images/icons.svg#icon-linkedin-1"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
