<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>



    <div class="categories">

        <ul class="categories__list">
            <li class="categories__item"><button class="categories__btn">Admin</button></li>
            <li class="categories__item"><button class="categories__btn">Arts</button></li>
            <li class="categories__item"><button class="categories__btn">Automobiles</button></li>
            <li class="categories__item"><button class="categories__btn">Books</button></li>
            <li class="categories__item"><button class="categories__btn">Breifing</button></li>
            <li class="categories__item"><button class="categories__btn">Business</button></li>
            <li class="categories__item"><button id="othersBtn" class="categories__btn">Others
                    <svg class="btn__icon-blue isHidden" width="14px" height="14px">
                        <use href="./images/icons.svg#icon-Frame-11-blue"></use>
                    </svg>
                    <svg class="btn__icon-white" width="14px" height="14px">
                        <use href="./images/icons.svg#icon-Frame-11-white"></use>
                    </svg>
                </button>
            </li>
        </ul>

        <ul class="categories__othersBox isHidden">
            <button class="categories__othrs-btn">Climate</button>
            <button class="categories__othrs-btn">Corrections</button>
            <button class="categories__othrs-btn">Crosswords & Games</button>
            <button class="categories__othrs-btn">Education</button>
            <button class="categories__othrs-btn">En Español</button>
            <button class="categories__othrs-btn">Fashion</button>
            <button class="categories__othrs-btn">Food</button>
            <button class="categories__othrs-btn">Guides</button>
            <button class="categories__othrs-btn">Health</button>
            <button class="categories__othrs-btn">Home & Garden</button>
            <button class="categories__othrs-btn">Home Page</button>
            <button class="categories__othrs-btn">Job Market</button>
            <button class="categories__othrs-btn">Lens</button>
            <button class="categories__othrs-btn">Magazine</button>
            <button class="categories__othrs-btn">Movies</button>
        </ul>

    </div>
</body>

</html>