<!-- * Секція пагінації -->
<section class="section-pagin">
  <div class="container container--pagin">
    <div class="pagin">
      <div class="pagin__prew">
        <button class="pagin__btn pagin__btn--prew">
          <svg class="pagin__prew-icon">
            <use href="./images/icons.svg#scroll-down"></use>
          </svg>
          Prew
        </button>
      </div>

      <div class="pagin-in-moblie">
        <button class="pagin__btn pagin__first">1</button>
        <p class="pagin__dots">...</p>
        <button class="pagin__btn">2</button>
        <button class="pagin__btn">3</button>
        <button class="pagin__btn">4</button>
        <p class="pagin__dots">...</p>
        <button class="pagin__btn pagin__last">20</button>
      </div>

      <div class="pagin__next">
        <button class="pagin__btn pagin__btn--next">
          Next
          <svg class="pagin__next-icon">
            <use href="./images/icons.svg#scroll-down"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
<!-- */ Секція пагінації -->
