.categories {
    display: flex;
    padding-left: 16px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #4440F7;
}

.categories .categories__list {
    @extend %list;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 16px;
}

.categories__btn {
    display: flex;
    align-items: center;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 73.215375%;
    /* 12/16.39 */

    color: #4440F7;

    height: 31px;



    padding: 8px 21px;

    border: 1px solid #4440F7;
    border-radius: 20px;
}

.btn__icon-blue,
.btn__icon-white {
    margin-left: 10px;
}



.categories__btn.is-active {
    background-color: #4440F7;
    color: #FFFFFF;
}

.categories__othersBox {
    display: none;

    background: #F8F8F8;
    border-radius: 20px;

    position: relative;
    top: 31px;
    right: 106px;

    display: flex;
    margin: 0;
    padding: 15px;
    gap: 12px;

    flex-direction: column;
    width: 168px;
    height: 380;
}

.categories__othersBox {
    display: flex;
}

.isHidden {
    display: none;
    // visibility: hidden;
}


.categories__othrs-btn {
    border: 0;

    background-color: inherit;
    align-self: start;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 73.215375%;
    /* 12/16.39 */
    text-align: center;
    letter-spacing: 0.01em;

    color: #4440F7;
}

.categories__othrs-btn.is-active {
    text-decoration: underline;
}

.categories__othrs-btn:hover {
    text-decoration-line: underline;
    letter-spacing: 0.01em;
}