// ^=====Розмітка кнопок категорій новин і календаря=====
.container--categories {
  display: flex;
  justify-content: space-between;
}

// // & Кнопка розкриття Calendar
.select-list {
  // position: relative;
  @media screen and (min-width: $tablet) {
    margin-left: 14px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 16px;
  }
}

.select-list__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  // rotate: 0deg;
  transition: transform var(--transition);

  width: 112px;
  height: 30px;
  padding: 6px 12px;

  background-color: var(--brand-light);
  border: 1px solid var(--brand-main);
  border-radius: 20px;

  color: var(--main-transparent-color);
  @include font(400, 12px, 21px, 0.02em);

  @media screen and (min-width: $tablet) {
    @include font(400, 14px, 21px, 0.02em);
  }

  &:hover,
  &:focus {
    background-color: var(--brand-main);
    color: var(--brand-light);
    fill: var(--brand-light);
  }

  &:hover .calendar-icon,
  &:focus .calendar-icon {
    fill: var(--brand-light);
  }
  // &:hover .select-list__icon,
  &:focus .select-list__icon--calendar {
    transform: rotate(180deg);
    transform-origin: center center;
    color: var(--brand-light);
  }

  &:focus .select-list__icon--calendar,
  &:hover .select-list__icon--calendar {
    fill: var(--brand-light);
  }
}

.calendar-icon {
  // position: absolute;
  // left: 12px;
  // top: 50%;
  // transform: translate(0, -50%);

  width: 20px;
  height: 20px;
  fill: var(--brand-main);
}

.select-list__icon {
  transform: rotate(0deg);
  transition: transform var(--transition);
  fill: currentColor;

  // margin-left: 10px;
  width: 14px;
  height: 14px;
}

.select-list__icon--categories {
  margin-left: 10px;
}

.select-list__icon--calendar {
  // position: absolute;
  // right: 12px;
  // top: 50%;
  // transform: translate(0, -50%);

  width: 15px;
  height: 15px;
  fill: var(--calendar-icon);
}

// &/ Кнопка розкриття Categories/Others та Calendar

// // & Кнопки категорій
// .categories {
//   display: none;

//   @media screen and (min-width: $tablet) {
//     display: flex;
//     gap: 14px;
//   }

//   @media screen and (min-width: $desktop) {
//     gap: 16px;
//   }
// }

// .categories__item:nth-child(n + 5) {
//   @media screen and (max-width: ($desktop - 1px)) {
//     display: none;
//   }
// }

// .categories__name {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

// // &/ Кнопки категорій

// * Розмітка календаря
.calendar__title {
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
    margin-right: 36px;
  }
}

// & Кнопка календаря
.select-list__btn--calendar {
  border: 1px solid var(--theme-text-color);
  color: var(--read-cover-color);
  background-color: transparent;

  width: 152px;
  height: 31px;

  @media screen and (min-width: $tablet) {
    width: 168px;
  }
  &:hover {
  }
  &:focus {
  }
}

.calendar {
  position: relative;
  display: flex;
  align-items: center;
}

// &/ Кнопка календаря
// */ Розмітка календаря
// ^/ ===== Розмітка кнопок категорій новин і календаря =====
