.revision-title {
  width: 100%;
  position: relative;
  margin: 40px 0 40px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #929292;
  padding: 0 0 12px 16px;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    margin: 48px 0 42px 0;
  }

  @media screen and (min-width: $desktop) {
    margin: 60px 0 40px 0;
  }
}

.date-icon {
  pointer-events: none;
  width: 15px;
  height: 15px;
  margin-left: 8px;
  background-image: url('../images/scroll-down-black.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: transform var(--transition);
}

body.dark-theme .date-icon {
  background-image: url('../images/scroll-down-white.svg');
}

.rotated {
  transform: rotate(180deg);
}

