.revision-title {
  width: 105px;
  position: relative;
  margin: 40px 0 40px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    margin: 48px 0 42px 16px;
  }

  @media screen and (min-width: $desktop) {
    margin: 60px 0 40px 16px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 90vw;
    left: 0;
    bottom: -12px;
    border: 1px solid #929292;
    display: block;
    margin-right: 16px;
  }
}

.date-icon {
  margin-left: 8px;
  fill: currentColor;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rotated {
  transform: rotate(180deg);
}
